// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  @include serif-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
.circle-purple {
  margin-left: 2em;
  margin-right: 1em;
  text-align: center;    
  widows: 200px;
  height: 200px;
  background: radial-gradient(circle closest-side,$teal 0%,$teal 98%,rgba(0,0,0,0) 100%);
}
.circle-yellow {
  widows: 200px;
  height: 200px;
  background: radial-gradient(circle closest-side,$yellow 0%,$yellow 98%,rgba(0,0,0,0) 100%);
}
.circle-green {
  widows: 200px;
  height: 200px;
  background: radial-gradient(circle closest-side,$green 0%,$green 98%,rgba(0,0,0,0) 100%);
}
.icon {
  width: 5em;
  margin: 2em;
  margin-left: 1.5em;
  margin-top: 2.5em;
}
.icon:hover {
  transition: 0.25s;
  width: 6em;
  margin: 2em;
  margin-left: 1em;
  margin-top: 2em;
}
.center {
  text-align: center;
}
.footer-links {
  text-align: left;
  li {
    list-style-type: none; 
  }
}